fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-groq
faiss-cpu
pypdf
python-dotenv 
langchain-core 
langchain-text-splitters 
langchain-pinecone 
langchain-huggingface 
pinecone 
sentence-transformers
rank-bm25
